# Assignment-1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Answer:

In [29]:
one_variable = 'Hello world',[1,2,3,4,5],40.9,(1,2,3,4,5)

In [30]:
one_variable

('Hello world', [1, 2, 3, 4, 5], 40.9, (1, 2, 3, 4, 5))

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

Answer:

In [12]:
var1 = ''

In [13]:
type(var1)

str

In [15]:
var2 = '[ DS , ML , Python]'

In [16]:
type(var2)

str

In [17]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [18]:
type(var3)

list

In [19]:
var4 = 1

In [20]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Answer:

In [35]:
10 / 2

5.0

The above operator is called division,The output is the Quotient of the Division of the given numbers in Float

In [36]:
10 % 2

0

the above operator is called mod operator, The output is the remainder of the division of the given numbers

In [41]:
10 // 2

5

The above operator is called Floor division,The output is the Quotient of the Division of the given numbers in Integer, not in float

In [42]:
10 ** 2

100

The Above operator is called Exponent, it raise the number to a given power

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Answer:

In [54]:
my_list = ['Pwskills',90,9 + 5j,True,[9,9,9],{'pw':99.99},('pwskills',99,99.99),'Data_Science',{9,8,7,6},{'pwskills':'Sudhanshu_Sir'}]

In [55]:
len(my_list)

10

In [56]:
for i in my_list:
    print(i)
    print("The data type is: ",type(i))

Pwskills
The data type is:  <class 'str'>
90
The data type is:  <class 'int'>
(9+5j)
The data type is:  <class 'complex'>
True
The data type is:  <class 'bool'>
[9, 9, 9]
The data type is:  <class 'list'>
{'pw': 99.99}
The data type is:  <class 'dict'>
('pwskills', 99, 99.99)
The data type is:  <class 'tuple'>
Data_Science
The data type is:  <class 'str'>
{8, 9, 6, 7}
The data type is:  <class 'set'>
{'pwskills': 'Sudhanshu_Sir'}
The data type is:  <class 'dict'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Answer:

In [31]:
a = int(input("Enter num_A:"))
b = int(input("Enter num_B:"))
i = a % b
if i == 0:
    print("The number is purely divisible")
else:
    print("The number is not purely divisible"
x = a / b
x2 = 0
while x > 0:
    x -= 1
    x2 += 1
    if x == 0:
        print("The number can be divisible by",x2,"Times")
    else:
        pass

Enter num_A:60
Enter num_B:6
The number is purely divisible
The number can be divisible by 10 Times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

Answer:

In [60]:
my_list = [90,31,65,70,96,35,58,71,33,2,61,54,71,60,11,46,15,34,18,24,69,90,9,79,73]

In [61]:
len(my_list)

25

In [15]:
print("Checking...")
total_num = []
for x in my_list:
    print("Number:",x)
    if x % 3 == 0:
        print(True)
        total_num.append(x)
    else:
        print(False)

print("\nTotal number divisible by 3:",total_num,"=",len(total_num)

Checking...
Number: 90
True
Number: 31
False
Number: 65
False
Number: 70
False
Number: 96
True
Number: 35
False
Number: 58
False
Number: 71
False
Number: 33
True
Number: 2
False
Number: 61
False
Number: 54
True
Number: 71
False
Number: 60
True
Number: 11
False
Number: 46
False
Number: 15
True
Number: 34
False
Number: 18
True
Number: 24
True
Number: 69
True
Number: 90
True
Number: 9
True
Number: 79
False
Number: 73
False

Total number divisible by 3: [90, 96, 33, 54, 60, 15, 18, 24, 69, 90, 9] = 11

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer:

immutable data types means, At a partiular index,item assignment(indexing) is not allowed or in other words; an object that doesn't allow changes in its value, let me show you how:

In [34]:
c = "cat"

In [41]:
c[0]

'c'

In [42]:
c[0] = 'b'

TypeError: 'str' object does not support item assignment

from ABOVE example, The string is a immutable data type.

In [56]:
num = 24556

In [58]:
num[0] = 8

TypeError: 'int' object does not support item assignment

from Above Example, The integer is a immutable data type.

mutable data types means, at a particular index item assignment is allowed or in other words; An object that allows to change its values without changing its identity, let me show you how:

In [43]:
l = ["Hello","World",["Bat","Cat"]]

In [44]:
id(l)

2303460297984

In [45]:
l[2][1] = "Mat"

In [46]:
l

['Hello', 'World', ['Bat', 'Mat']]

In [47]:
id(l)

2303460297984

above,The List is a mutable data type, because we can change its value without changing its identity.