## MySql Assignment

#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### Answer:

A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of data. Databases are used to store and manage information in a structured manner, making it easier to perform tasks such as querying, updating, and analyzing data.

There are two main categories of databases, i.e SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases. Here's a differentiation between the two:

SQL Databases:
1. Structure: SQL databases are relational databases, which means they use a predefined schema to define the structure of the data. Data is organized into tables with rows and columns, and relationships between tables are established using keys (example : primary keys and foreign keys).

2. Query Language: SQL databases use a standardized query language called SQL to interact with the data. SQL allows users to perform complex queries, joins, and aggregations on the data.

3. Use Cases: SQL databases are well-suited for applications that require structured, well-defined data with complex relationships, such as financial systems, customer relationship management (CRM) systems, and enterprise applications.

4. Examples: MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server.

NoSQL Databases:
1. Structure: NoSQL databases are non-relational and often schema-less, allowing for more flexible data models. They can store unstructured, semi-structured, or structured data in various formats, such as JSON, XML, or key-value pairs.

2. Query Language: NoSQL databases do not rely on SQL for querying. Instead, they offer various query languages and APIs tailored to their specific data models. Some NoSQL databases support ad-hoc querying, while others may require predefined indexes for efficient data retrieval.

3. Use Cases: NoSQL databases are well-suited for applications with large volumes of rapidly changing data, such as social media platforms, content management systems, real-time analytics, and Internet of Things (IoT) applications.

4. Examples: MongoDB (document-oriented), Cassandra (column-family), Redis (key-value), Neo4j (graph), Amazon DynamoDB (key-value and document).

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### Answer:

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and managing the structure of a relational database. DDL statements are responsible for creating, altering, and deleting database objects like tables, indexes, and views. These statements don't deal with the actual data stored in the database but focus on the schema and structure of the database.

the commonly used DDL statements and their purposes with examples are discussed below:

1. CREATE:

The CREATE statement is used to create new database objects, such as tables, indexes, views, or schemas.
Example: Creating a new table called "employees" with columns for employee information.

2. DROP:

The DROP statement is used to delete existing database objects, such as tables, indexes, or views.
Example: Deleting the "employees" table from the database

3. ALTER:

The ALTER statement is used to modify an existing database object, such as adding, modifying, or deleting columns in a table.
Example: Adding a new column "email" to the "employees" table.

4. TRUNCATE:

The TRUNCATE statement is used to remove all rows from a table while keeping the table structure intact. It is faster than the DELETE statement for removing all data from a table.
Example: Removing all data from the "employees" table.

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### Answer:

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating and managing data stored within a relational database. Unlike DDL (Data Definition Language), which focuses on defining and managing the structure of the database, DML deals with the actual data in the database. There are three primary DML statements: INSERT, UPDATE, and DELETE

1. INSERT:

The INSERT statement is used to add new rows of data into a table.
Example: Inserting a new employee record into the "employees" table.

2. UPDATE:

The UPDATE statement is used to modify existing data in a table. It allows you to change values in one or more columns for one or more rows based on a specified condition.
Example: Updating the email address of an employee with ID 10 in the "employees" table.

3. DELETE:

The DELETE statement is used to remove one or more rows from a table based on a specified condition.
Example: Deleting an employee record with ID 101 from the "employees" table.

#### Q4. What is DQL? Explain SELECT with an example.

#### Answer:

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying and retrieving data from a relational database. The primary DQL statement is SELECT, which is used to specify the data you want to retrieve from one or more database tables.

- SELECT Statement:

The SELECT statement is used to retrieve data from one or more tables in a database. It allowusou to specify the columnweou want to retrieve, the tables from which to retrieve the data, and optional conditions to filter the results:

Let's Suppose we have a table called "employees" with columns like "employee_id," "first_name," "last_name," and "salary." we want to retrieve the first and last names of all employees whose salary is greater than 50,000 rupees. Here's how we can use the SELECT statement to achieve this:

SELECT first_name, last_name
FROM employees
WHERE salary > 5000;

#### Q5. Explain Primary Key and Foreign Key.

#### Answer:

**Primary Key:**
1. A Primary Key is a database constraint used to uniquely identify each record or row in a table.
2. It ensures that the values in the specified column(s) are unique and not null.
3. Every table in a relational database can have only one Primary Key.
4. The Primary Key serves as a unique identifier and is used for data retrieval and integrity.
5. It is typically implemented as an index, which enhances query performance.
6. Primary Keys are essential for enforcing entity integrity in a database.
7. Common data types for Primary Keys include integers and sequences.
8. Primary Keys are often auto-generated or chosen from existing data attributes.
9. They facilitate data relationships in a database by being referenced as Foreign Keys in related tables.
10. Primary Keys are a fundamental concept in relational databases, ensuring data accuracy and consistency.

**Foreign Key:**
1. A Foreign Key is a database constraint that establishes a link between two tables by referencing the Primary Key of another table.
2. It enforces referential integrity, ensuring that data in the Foreign Key column(s) corresponds to the values in the referenced Primary Key column(s).
3. Foreign Keys are used to create relationships between tables, representing associations between entities.
4. They prevent actions that would violate the integrity of the data, such as inserting a value that doesn't exist in the referenced table's Primary Key.
5. Foreign Keys can be one-to-one, one-to-many, or many-to-many relationships.
6. They help maintain data consistency and integrity in a relational database.
7. Foreign Keys enable database designers to create complex data structures and enforce data relationships.
8. When querying data, Foreign Keys can be used to retrieve related data from other tables.
9. Properly designed Foreign Key relationships improve data quality and ensure accurate data retrieval.
10. Foreign Keys are a crucial part of relational database design, supporting data relationships and maintaining data integrity.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### Answer:

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Binakhan@8083"
)

mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for i in mycursor.fetchall():
    print(i)

('collage',)
('information_schema',)
('mysql',)
('performance_schema',)
('pwskills',)
('sakila',)
('sys',)
('world',)

1. cursor(): The cursor() method creates a cursor object associated with the database connection. A cursor is used to execute SQL queries and fetch results. It allows us to interact with the database by sending SQL statements and processing the results.

2. execute(): The execute() method is used to execute SQL queries or statements. It takes two arguments: the SQL query as a string and optionally, data to be passed into the query.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

#### Answer:

In an SQL query, the clauses are executed in the following order:

1. **FROM**: The FROM clause specifies the tables from which the data is to be retrieved. It is the first clause to be executed, and it identifies the source tables for the query.

2. **JOIN**: If there are multiple tables in the FROM clause that need to be joined together, the JOIN clauses are executed next. These clauses specify how the tables are related and which rows should be combined.

3. **WHERE**: The WHERE clause is executed after the FROM and JOIN clauses. It filters the rows from the joined tables based on specified conditions. Rows that meet the criteria in the WHERE clause are included in the result set.

4. **GROUP BY**: If a GROUP BY clause is present in the query, it is executed after the WHERE clause. The GROUP BY clause groups rows that have the same values in specified columns into summary rows.

5. **HAVING**: The HAVING clause is executed after the GROUP BY clause. It filters the grouped rows based on aggregate functions (e.g., SUM, COUNT) and conditions. Rows that meet the criteria in the HAVING clause are included in the result set.

6. **SELECT**: The SELECT clause is executed after all the preceding clauses. It specifies which columns or expressions should be included in the result set. The selected columns may include aggregate functions applied to grouped data.

7. **ORDER BY**: The ORDER BY clause is executed after the SELECT clause. It sorts the result set based on one or more columns in ascending or descending order.

8. **LIMIT/OFFSET**: If a LIMIT and/or OFFSET clause is used, they are executed after the ORDER BY clause. LIMIT specifies the maximum number of rows to return, while OFFSET specifies how many rows to skip from the beginning of the result set.

9. **UNION/INTERSECT/EXCEPT**: If the query involves set operations like UNION, INTERSECT, or EXCEPT, these operations are performed last after all the other clauses. They combine or compare result sets from multiple queries.

It's important to note that not all clauses are required in every SQL query, and the order of execution can vary based on the specific query structure. However, the order mentioned above reflects the typical sequence of clause execution in a standard SQL query.